* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
  gap: 20px;
  padding-inline: 20px;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
}
